.appInfo {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.appInfo .line {
  height: 2px;
  width: 100%;
  -webkit-box-shadow: 0px 2px 2px #6e6e6e;
          box-shadow: 0px 2px 2px #6e6e6e;
  margin-top: 3rem;
}

.appInfo .content {
  -webkit-box-shadow: 0rem 0rem 5rem #3d3d3d;
          box-shadow: 0rem 0rem 5rem #3d3d3d;
  border-radius: 1rem;
  overflow-y: scroll;
  margin: 5rem;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 90vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appInfo .content .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appInfo .content .buttons button.x {
  border: none;
  height: 5rem;
  width: 5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer;
}

.appInfo .content .buttons button.x img {
  height: 5rem;
  width: 5rem;
}

.appInfo .content .buttons button.x img:hover {
  -webkit-filter: opacity(50%);
          filter: opacity(50%);
}

.appInfo .content .buttons button.buy {
  font-size: 1.6rem;
  border: none;
  background-color: #689f38;
  border-radius: 1rem;
  padding: 2rem;
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.appInfo .content .buttons button.buy:hover {
  background-color: #83cf40;
}

.appInfo .content .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: calc(100% - 30rem);
}

.appInfo .content .header img {
  width: 20vmin;
  height: 20vmin;
}

.appInfo .content .header .heading {
  padding-left: 3rem;
}

.appInfo .content .header .heading h1 {
  font-size: 4rem;
}

.appInfo .content .header .heading p {
  font-size: 2rem;
}

.appInfo .content .header .heading div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.appInfo .content p.desc {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.appInfo .content .description {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.appInfo .content .description button {
  border: none;
  font-size: 2rem;
  font-weight: 600;
  color: #689f38;
  cursor: pointer;
  padding: 2rem;
}

.appInfo .content .description button:hover {
  background-color: #3e5f22;
  color: white;
}

.appInfo .content .screens {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

.appInfo .content .screens img {
  width: 100%;
  height: 100%;
  padding: 1.5rem;
}

.appInfo .content .rev {
  margin-top: 5rem;
  padding: 3rem;
}

.appInfo .content .rev .review {
  margin: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.appInfo .content .rev .review .centerRev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.appInfo .content .rev .review .centerRev h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 1rem;
  color: #777777;
  font-size: 3rem;
}

.appInfo .content .rev .review img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.appInfo .content .rev .review div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 3rem;
  font-size: 1.3rem;
}

.appInfo .content .rev .review div h1 {
  font-size: 2.5rem;
}

.appInfo .content .rev .review div h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.appInfo .content .rev .review div p {
  font-size: 2rem;
}

.appInfo .content button.revs {
  border: none;
  font-size: 2rem;
  font-weight: 600;
  color: #689f38;
  cursor: pointer;
  padding: 2rem;
  width: 100%;
}

.appInfo .content button.revs:hover {
  background-color: #3e5f22;
  color: white;
}

@media only screen and (max-width: 700px) {
  .appInfo {
    position: fixed;
  }
  .appInfo .content {
    border-radius: 0rem;
    max-width: 100vw;
    max-height: 100vh;
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    margin: 0;
  }
  .appInfo .content .buttons button.x {
    border: none;
    height: 5rem;
    width: 5rem;
  }
  .appInfo .content .buttons button.x img {
    height: 5rem;
    width: 5rem;
  }
  .appInfo .content .buttons button.buy {
    font-size: 1.2rem;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 1.3rem;
  }
  .appInfo .content .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: calc(100% - 10rem);
  }
  .appInfo .content .header img {
    width: 20vmin;
    height: 20vmin;
  }
  .appInfo .content .header .heading {
    padding-left: 1rem;
  }
  .appInfo .content .header .heading h1 {
    font-size: 2.5rem;
  }
  .appInfo .content .header .heading p {
    font-size: 1.7rem;
  }
  .appInfo .content .header .heading div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .appInfo .content .screens {
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
  }
  .appInfo .content .screens img {
    max-height: 30vh;
    padding: 1rem;
  }
  .appInfo .content .rev {
    margin-top: 3rem;
    padding: 1rem;
  }
  .appInfo .content .rev .review {
    margin: 0rem;
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .appInfo .content .rev .review .centerRev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .appInfo .content .rev .review .centerRev h3 {
    font-size: 2rem;
  }
  .appInfo .content .rev .review img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .appInfo .content .rev .review div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 3rem;
    font-size: 1.3rem;
  }
  .appInfo .content .rev .review div h1 {
    font-size: 2rem;
  }
  .appInfo .content .rev .review div h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .appInfo .content .rev .review div p {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=infoApp.css.map */