.SearchResult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  border-radius: 5rem;
  margin-bottom: 2rem;
  box-shadow: 0px 5px 10px rgb(128, 128, 128);
  .content {
    display: flex;
    flex-direction: row;
    img {
      border-radius: 1rem;
      height: 100%;
    }
    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem;
      p {
        font-size: 1.8rem;
      }
    }
  }
  button {
    border-end-end-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none;
    height: 100%;
    padding: 2rem;
    font-size: 2rem;
    background-color: #689f38;
    color: rgb(241, 241, 241);
  }
  button:hover {
    background-color: #87d146;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  .SearchResult {
    .content {
      .info {
        padding: 0.5rem;
        h1 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
    button {
      padding: 1rem;
      font-size: 1.5rem;
    }
  }
}
