.ForU {
  width: 100vw;
  display: flex;

  display: flex;
  flex-direction: column;
  .group {
    padding: 2rem;
    width: 100vw;
    max-width: 800px;
    .games-list {
      overflow-x: scroll;
      display: flex;
      flex-direction: row;
    }
  }
}
